# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# old WordPress site mirror
old-web/
screencapture-localhost-4321-2026-02-15-09_43_38.png
screencapture-sklenarstviruska-cz-2026-02-15-09_43_17.png
